{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>
</head>

<link rel="stylesheet" href="{% static 'css/layout.css' %}">

<header>
    <img class="header-img" src="{% static 'imgs/utalogo.png' %}" alt="utalogo">
    <h1>Aplicación de Chat</h1>
    <img class="header-img" src="{% static 'imgs/dicilogo.png' %}" alt="dicilogo">
</header>

<body>
    {% block content %}
    
    {% endblock  %}
    
</body>

<footer>


</footer>