{% extends 'layouts/app_layout.html' %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
<link rel="stylesheet" href="{% static 'css/estilos.css' %}">

<div class="login-card">
    <!--
    <form class="login-form" method="POST">
        {% csrf_token %}
        <div class="form-data">
            <label for="username">Nombre de usuario</label>
            <input placeholder="Nombre de usuario" name="username" type="text">
        </div>

        <div class="form-data">
            <label for="password">Contraseña</label>
            <input placeholder="Contraseña" name="password" type="text">
        </div>

        
        <input type="submit" value="INICIAR SESION">
        
        <a href="{% url 'register' %}">Registrate!</a>
    </form>

    <div id= "testing"></div>
    -->
    
    <form class="login-form" method="POST">
        <!--Ingresa correo-->
        {% csrf_token %}
        <label class="color-text-small" for="username">Nombre de usuario</label>
        <div class="input-group">
            <div class="input-group-prepend">
            <span class="input-group-text"><i class="fa-regular fa-user"></i></span>
            </div>
            <input type="text" class="form-control" id="username" placeholder="Username" required="" name="username">
            <div class="invalid-feedback" style="width: 100%;">
            Tu nombre es requerido.
            </div>
        </div>

        <!--Ingresa contraseña-->

        <label class="color-text-small" for="username">Contraseña</label>
        <div class="input-group">
            <div class="input-group-prepend">
            <span class="input-group-text"><i class="fa-solid fa-key"></i></span>
            </div>
            <input type="password" class="form-control" placeholder="Contraseña" name="password">
            <div class="invalid-feedback" style="width: 100%;">
            Ingresa tu contraseña.
            </div>
        </div>

        <button type="submit" class="btn btn-primary btn-lg rounded-pill mt-2 ">Iniciar Sesion</button>
        <a href="{% url 'register' %}" class="bbtn btn-primary btn-lg btn-block mt-2"> Registrate! </a>
    </form>

</div>

{% endblock  %}