{% extends 'layouts/app_layout.html' %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">

<div class="login-card">
    <form class="login-form" method="POST">
        {% csrf_token %}
        <div class="form-data">
            <label for="username">Nombre de usuario</label>
            <input placeholder="Nombre de usuario" name="username" type="text">
        </div>

        <div class="form-data">
            <label for="password">Contraseña</label>
            <input placeholder="Contraseña" name="password" type="text">
        </div>

        
        <input type="submit" value="INICIAR SESION">
        
        <a href="{% url 'register' %}">Registrate!</a>
    </form>

    
    
    

</div>

{% endblock  %}