{% extends 'layouts/app_layout.html' %}

{% block content %}
    <link rel="stylesheet" href="{% static 'css/lobby.css' %}">
    <div class="chat-container">
        
        <div class="chat-header">
            <img src="{% static 'imgs/usuario.png' %}" width="40px">
            <label id="username">{{ user.get_username }}</label>
            <a class="logout-btn" href="{% url 'logout' %}"><img src="{% static 'imgs/logout.png' %}" width="30px"></a>
        </div>

    
        <div id="messages">
            {%for mensaje in mensajes%}
            <div id="{{mensaje.uuid}}">
                <p> <span>{{mensaje.author}}</span> <br> {{mensaje.text}} <span class="date"> <a href="{% url 'aEliminar' mensaje.uuid %}" class="btnEliminar">Eliminar</a> {{mensaje.published_date|date:"d/m/Y"}}, {{mensaje.published_date|time:"h:i:s"}}</span></p>
            </div>
            {%endfor%}
        </div>
        <form id="form">
            <input type="text" id="msg" placeholder="Mensaje" name="message" autocomplete="off"></textarea>
            <div id="emojis-div">
                <button type="submit" id="btnEnviar"> 
                    <img src="{% static 'imgs/enviar.png' %}">
                </button>

                <button type="button" id="emojisbtn">
                    <img src="{% static 'imgs/emoji.png' %}">                  
                </button>
                <div id="emojis-container">
                    <div id="emojis-box">

                    </div>
                </div>
            </div>
        </form>

    </div>

    <script src="{% static 'js/categories.js' %}"></script>
    <script src="{% static 'js/socketsmessages.js' %}"> </script>
    <script src="{% static 'js/emojis.js' %}"></script>

{% endblock  %}