{% extends 'layouts/app_layout.html' %}

{% block content %}
    <link rel="stylesheet" href="{% static 'css/lobby.css' %}">
    <div class="chat-container">
        
        <div class="chat-header">
            <label for="user"> Bienvenido, Usuari@: </label>
            <label id="username">{{ user.get_username }}</label>
            <a class="logout-btn" href="{% url 'logout' %}">DESCONECTAR</a>
        </div>

    
            <div id="messages"></div>
            <div class="mensajeria">

                <form id="form">
                    <input id="input_msg" type="text" placeholder="Mensaje" name="message"/>
                    <button type="button" id="emojisbtn">
                        😀                  
                    </button>
                </form>

                <div id="emojis-container">
                    <div id="emojis-box">
                    </div>
                </div>

            </div>

    </div>
    
    <script src="{% static 'js/socketsmessages.js' %}"> </script>
    <script src="{% static 'js/emojis.js' %}"></script>

{% endblock  %}