.chat-container{
    /* display: flex; */
    /* flex-flow: column; */
    justify-items: center;
    align-items: center;
    background-color: rgb(2, 4, 48);
    height: 90vh;
    display: grid;
    grid-template-areas:
    "usuario usuario usuario usuario"
    "chat chat chat chat"
    "mensaje mensaje mensaje mensaje";
}

.logout-btn{
    margin-top: 2%;
    display: block;
    background-color: rgb(252, 233, 198);
    color: rgb(12, 12, 12);
    padding: 1%;
    font-size: 1.2em;
    border-radius: 5px;
    height: 3vh;
    width: 11vw;
    align-items: center;
    margin-left: 20%;
    /* grid-area: desconectar; */
}

.logout-btn:hover{
    background-color: rgb(179, 166, 142);
}

.chat-header{
    margin-top: 1%;
    display: block ruby;
    text-align: center;
    height: 6vh;
    grid-area: usuario;
}

.chat-body{
    display: grid;
    justify-items: center;
}

#input_msg{
    font-size: 1.2em;
}

#emojis-container{
    position: absolute;
    justify-items: center;
    display: none;
    background-color: rgba(194, 194, 194, 0.274);
    height: 100vh;
    width: 100vw;
}

#emojis-box{
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(10,1em);
    grid-template-rows: repeat(9,1em);
    gap: 1.2em;
    background-color: rgb(194, 194, 194);

    min-width: 335px;
    min-height: 325px;
    height: 34vh;
    width: 21vw;
    border-radius: 5px;
    padding: 1%;
    position: absolute;
   
}

#emoji{
    text-align: center;
    height: 2em;
    width: 2em;
    font-size: 1em;
}

label{
    font-size: 2em;
    color: white;
}

h1{
    color: white;
    font-size: 2.5em;
}

form > input{
    width: 80vw;
    font-size: 1em;
}

#messages{
    font-size: 1.5em;
    color: rgb(26, 26, 26);
    /* background-color: rgba(38, 38, 66, 0.479); */
    background-image: url(/static/imgs/fondo.png);
    background-size:contain;
    width: 80vw;
    height: 60vh;
    overflow-y: auto;
    padding: 1%;
    padding-left: 5%;
    padding-right: 5%;
    margin: 1%;
    border-radius: 5px;
    grid-area: chat;
    border: rgb(150, 150, 149) solid 2px;
}

p{
    padding-left: 1%;
    padding-top: 1%;
    background-color: white;
    border-radius: 0px 20px 20px 20px;
    max-width: 80vw;
    height: 12vh;
    overflow-x: auto;
}

.mensajeria{
    grid-area: mensaje;
}

#emojisbtn{
    width: auto;
    height: auto;
}

.lobby{
    background-color: rgb(2, 4, 48);
}