.chat-container{
    /* display: flex; */
    /* flex-flow: column; */
    justify-items: center;
    align-items: center;
    background-color: rgb(2, 4, 48);
    height: 90vh;
    display: grid;
    grid-template-areas:
    "usuario usuario usuario usuario"
    "chat chat chat chat"
    "mensaje mensaje mensaje mensaje";
}

.logout-btn{
    margin-top: 2%;
    display: block;
    background-color: rgb(252, 233, 198);
    color: rgb(12, 12, 12);
    padding: 1%;
    font-size: 1.2em;
    border-radius: 5px;
    height: 4vh;
    width: 4vw;
    align-items: center;
    margin-left: 20%;
    /* grid-area: desconectar; */
}

.logout-btn:hover{
    background-color: rgb(179, 166, 142);
}

.chat-header{
    margin-top: 1%;
    display: block ruby;
    text-align: center;
    height: 6vh;
    grid-area: usuario;
}

.chat-body{
    display: grid;
    justify-items: center;
}

#input_msg{
    font-size: 1.2em;
}

#emojis-container{
    position: relative;
    justify-items: center;
    display: none;
    background-color: rgba(194, 194, 194, 0.274);
    top: -30vh;
    left: -9vw;
}

#emojis-box{
    justify-items: center;
    background-color: rgb(194, 194, 194);
    border-radius: 5px;
    padding: 30px;
    position: absolute;
}

#botonesEmojis{
    display: flex;
}

.categoria{
    display: flex;
    flex-wrap: wrap;
}

.btnCategoria{
    border-radius: 2px;
}

label{
    font-size: 2em;
    color: white;
}

h1{
    color: white;
    font-size: 2.5em;
}

form {
    width: 90vw;
    display: flex;
    margin: 0 10px ;
}

form > input{
    width: 80vw;
    font-size: 1em;
}

#btnEnviar, #emojisbtn{
    border-radius: 30px;
    background-color: rgb(32, 66, 178);
    margin: auto 5px;
    padding: 0.3em;
    border: none;
}
#btnEnviar > img, #emojisbtn > img{
    width: 2em;
    height: 2em;
    
}

#messages{
    font-size: 1.5em;
    color: rgb(26, 26, 26);
    /* background-color: rgba(38, 38, 66, 0.479); */
    background-image: url(/static/imgs/fondo.png);
    background-size:contain;
    width: 80vw;
    height: 60vh;
    overflow-y: auto;
    padding: 1%;
    padding-left: 5%;
    padding-right: 5%;
    margin: 1%;
    border-radius: 5px;
    grid-area: chat;
    border: rgb(150, 150, 149) solid 2px;

    margin-top: 5vh;
}

p{
    margin-top: 2vh;
    padding-left: 1%;
    padding-top: 1%;
    background-color: white;
    border-radius: 0px 20px 20px 20px;
    max-width: 80vw;
    height: 18vh;
    overflow-x: auto;
}

.mymessage{
    margin-top: 2vh;
    padding-left: 1%;
    padding-top: 1%;
    background-color: rgb(203, 208, 240);
    border-radius: 20px 0px 20px 20px;
    max-width: 80vw;
    height: 18vh;
    overflow-x: auto;
}

.mensajeria{
    grid-area: mensaje;
}

#msg{
    font-size: 20px;
    width: 85%;
    height: 50px;
    margin: auto 2px;
    overflow-y: visible;
    resize: none;
    border-radius: 10px;
}

.btnEliminar{
    text-decoration: none;
    background-color: rgb(199, 199, 199);
    padding: 3px;
    border-radius: 5px;
    color: black;
    font-weight: normal;
}
.btnEliminar:hover{
    color: whitesmoke;    
}

#emojisbtn{
    width: auto;
    height: auto;
}

span{
    font-weight: bolder;
}

.date{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 3vh;
    padding-right: 1vw;
}

.lobby{
    background-color: rgb(2, 4, 48);
}

/* width */
::-webkit-scrollbar {
    width: 20px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: lightblue; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: lightslategray; 
  }

